.error-container {
  padding: 18px;
  text-align: center;
  background-color: #0000001e;
  border: 0px;
  border-radius: 8px;
}

.error-description {
  color: red;
}



@media (prefers-color-scheme: dark) {
}