* {
    user-select: none;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: #0f0f0f;
    background-color: #f6f6f6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
  
.container {
margin: 0;
padding-top: 2vh;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000015;
}

nav {
    /* This ensures nav stays in center even with other elements */
    flex: 1;
    text-align: center;
    font-size: 30px;
}

.row {
    display: flex;
    justify-content: center;
  }

/* Style the back button container */
.layout-button {
    min-width: 180px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
color: #535bf2;
}

h1 {
text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    padding: 2px;   
    display: flex;
    flex-direction: column;
    background: #00000020;
    justify-content: end;
    align-items: end;
    border: 0px;
    border-radius: 8px;
}

.xSquare {
    color: #ffffffb5;
    margin: 3px;
}
  
.xSquare:hover {
    color: #ffffff70;
}

.xSquare:active {
    color: #ffffff63;
}

.modal-content {
    background-color: #ffffff;
    color: #0f0f0f;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    

}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00000020;
    margin: 4px 8px;
    padding: 4px 8px;
    border-radius: 8px;
  

}

ul li button {
    padding: 4px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li p {
    width: 100%;
}

ul li .action-details-container {
    width: 100%;
}

.loader-action-icon {
    animation: spin 1s linear infinite;
}

@media (prefers-color-scheme: dark) {

    :root {
        color: #f6f6f6;
        background-color: #2f2f2f;
    }

    a:hover {
    color: #24c8db;
    }

    input,
    button {
    color: #ffffff;
    background-color: #0f0f0f98;
    }

    button:active {
    background-color: #0f0f0f69;
    }

    .modal-content {
        background-color: #0f0f0fe8;
        color: #ffffff;
    }

    .xSquare {
        color: #ffffffca;
    }
      
    .xSquare:hover {
        color: #ffffffb2;
    }

    .xSquare:active {
        color: #ffffff72;
    }
}